body {
  font-family: Arial, sans-serif;
  align-items: center;
  height: 80vh;
  background: linear-gradient(135deg, #ffcc33, #ff6666);
  margin: 0;
}


.centerText {
    display: flex;
    justify-content: center;
}

.soundBox {
    border: 2px solid #780d0d;
}
